<%= render 'header' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Question Content:</b><br/>
  <%= @question.content %>
</p>

<b>Choices:</b>
<ul>
	<% @question.choices.each do |choice| %>
		<li>
			<%= choice.content %>
			<% if choice.correct %> (Correct) <% end %>
			
			<%= link_to 'Destroy', choice, method: :delete, data: { confirm: 'Are you sure?' } %>
		</li>
	<% end %>
</ul>

<b>New Choice:</b>
<%= form_tag({:controller => "choices", :action => "create"}) do %>
  <%= hidden_field_tag :question, @question.id %>
  
  <%= label_tag :content, "Content" %>
  <%= text_field_tag :content %>
  <br />
  <%= label_tag :correct, "Correct" %>
  <%= check_box_tag :correct %>
  <br /><br />
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', questions_path %>

