<h4>Quiz Results</h4>

<p>You answered correctly <%= @correct %> out of <%= @total %> questions.</p>
<p>The Score is <%= @score %></p>
<br/>

<%= form_tag({:controller => "customers", :action => "new"}) do %>
	<%= hidden_field_tag :score, @score %>
	<%= submit_tag("Next", :class => "submit") %>
<% end %>