<h1>Quiz Results</h1>
<p>You answered correctly <%= @correct %> out of <%= @total %> questions.</p>

<p>The Score is <%= @score %></p>

<p>Please enter your information:</p>

<%= form_for @customer do |f| %>

  <%= hidden_field_tag :quiz_score, @score %>

  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :email %>:
  <%= f.text_field :email %><br />
  
  <%= f.label :address %>:
  <%= f.text_field :address %><br />
  
  <%= f.label :zip_code %>:
  <%= f.text_field :zip_code %><br />
  
  <%= f.label :phone_number %>:
  <%= f.text_field :phone_number %><br />

  <%= f.submit "Submit" %>
<% end %>