<%= render 'header' %>

<h4>Listing Customers</h4>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Zip Code</th>
	<th>Phone Number</th>
	<th>Quiz Score</th>
	<th>Created At</th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.email %></td>
	<td><%= customer.address %></td>
	<td><%= customer.zip_code %></td>
	<td><%= customer.phone_number %></td>
	<td><%= customer.quiz_score %></td>
	<td><%= customer.created_at %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<%= link_to "Back to main page", "/admin_pages/home" %>